In [144]:
import pandas as pd
import requests

### All tiles for Berlin

In [83]:
tiles = {"de": [(17600, 10744), (17600, 10745), (17600, 10746), (17600, 10747), (17600, 10748), (17600, 10749),
                (17601, 10744), (17601, 10745), (17601, 10746), (17601, 10747), (17601, 10748), (17601, 10749),
                (17602, 10744), (17602, 10745), (17602, 10746), (17602, 10747), (17602, 10748), (17602, 10749),
                (17603, 10744), (17603, 10745), (17603, 10746), (17603, 10747), (17603, 10748), (17603, 10749),
                (17604, 10744), (17604, 10745), (17604, 10746), (17604, 10747), (17604, 10748), (17604, 10749),
                (17605, 10744), (17605, 10745), (17605, 10746), (17605, 10747), (17605, 10748), (17605, 10749),
               ],
         
         "gb": [(16371, 10892), (16371, 10893), (16371, 10894), (16371, 10895), (16371, 10896), (16371, 10897),
                (16372, 10892), (16372, 10893), (16372, 10894), (16372, 10895), (16372, 10896), (16372, 10897),
                (16373, 10892), (16373, 10893), (16373, 10894), (16373, 10895), (16373, 10896), (16373, 10897),
                (16374, 10892), (16374, 10893), (16374, 10894), (16374, 10895), (16374, 10896), (16374, 10897),
                (16375, 10892), (16375, 10893), (16375, 10894), (16375, 10895), (16375, 10896), (16375, 10897),
                (16376, 10892), (16376, 10893), (16376, 10894), (16376, 10895), (16376, 10896), (16376, 10897),
               ],
         "nl": [
                (16827, 10766),
                (16827, 10767), 
                (16827, 10768), 
                (16827, 10769), 
                (16827, 10770), 
                (16827, 10771),

                (16828, 10766),
                (16828, 10767), 
                (16828, 10768), 
                (16828, 10769), 
                (16828, 10770), 
                (16828, 10771), 

                (16829, 10766),
                (16829, 10767), 
                (16829, 10768), 
                (16829, 10769), 
                (16829, 10770), 
                (16829, 10771), 

                (16830, 10766),
                (16830, 10767), 
                (16830, 10768), 
                (16830, 10769), 
                (16830, 10770), 
                (16830, 10771), 

                (16831, 10766),
                (16831, 10767), 
                (16831, 10768), 
                (16831, 10769), 
                (16831, 10770), 
                (16831, 10771), 

                (16832, 10766),
                (16832, 10767), 
                (16832, 10768), 
                (16832, 10769), 
                (16832, 10770), 
                (16832, 10771)
                ],
         "ie": [
                (15811, 10619),
                (15811, 10620),
                (15811, 10621),
                (15811, 10622),
                (15811, 10623),
                (15811, 10624),

                (15812, 10619),
                (15812, 10620),
                (15812, 10621),
                (15812, 10622),
                (15812, 10623),
                (15812, 10624),

                (15813, 10619),
                (15813, 10620),
                (15813, 10621),
                (15813, 10622),
                (15813, 10623),
                (15813, 10624),

                (15814, 10619),
                (15814, 10620),
                (15814, 10621),
                (15814, 10622),
                (15814, 10623),
                (15814, 10624),

                (15815, 10619),
                (15815, 10620),
                (15815, 10621),
                (15815, 10622),
                (15815, 10623),
                (15815, 10624),

                (15816, 10619),
                (15816, 10620),
                (15816, 10621),
                (15816, 10622),
                (15816, 10623),
                (15816, 10624),
                ],
         "fr": [
                (16592, 11268),
                (16592, 11269),
                (16592, 11270),
                (16592, 11271),
                (16592, 11272),
                (16592, 11273),

                (16593, 11268),
                (16593, 11269),
                (16593, 11270),
                (16593, 11271),
                (16593, 11272),
                (16593, 11273),

                (16594, 11268),
                (16594, 11269),
                (16594, 11270),
                (16594, 11271),
                (16594, 11272),
                (16594, 11273),

                (16595, 11268),
                (16595, 11269),
                (16595, 11270),
                (16595, 11271),
                (16595, 11272),
                (16595, 11273),

                (16596, 11268),
                (16596, 11269),
                (16596, 11270),
                (16596, 11271),
                (16596, 11272),
                (16596, 11273),

                (16597, 11268),
                (16597, 11269),
                (16597, 11270),
                (16597, 11271),
                (16597, 11272),
                (16597, 11273),
            ]
        }

In [75]:
# get all the OSM buildings in a country's city
def get_country_bldgs_df(country_code):
    res_df = pd.DataFrame(columns=['id', 'type', 'properties', 'geometry'])
    for tile in tiles[country_code]:
        osmb_url = "https://data.osmbuildings.org/0.2/anonymous/tile/15/{}/{}.json".format(tile[0], tile[1])
        response = requests.get(osmb_url)
        be = response.json()
        res_df = res_df.append(pd.DataFrame(be["features"]))
    res_df.loc[:, 'country'] = country_code
    return res_df

In [90]:
# Berlin, de
de = get_country_bldgs_df('de')

In [108]:
# London, gb
gb = get_country_bldgs_df('gb')

In [77]:
# Amsterdam, nl
nl = get_country_bldgs_df('nl')

In [92]:
# Dublin, ie
ie = get_country_bldgs_df('ie')

In [97]:
# Paris, fr
fr = get_country_bldgs_df('fr')

In [117]:
print("Retrieved {:,} bldgs in Berlin, DE.\n\
Retrieved {:,} bldgs in London, UK.\n\
Retrieved {:,} bldgs in Amsterdam, NL.\n\
Retrieved {:,} bldgs in Dublin, IE.\n\
Retrieved {:,} bldgs in Paris, FR.\n".format(de.shape[0], gb.shape[0], nl.shape[0], ie.shape[0], fr.shape[0]))

Retrieved 16,094 bldgs in Berlin, DE.
Retrieved 21,381 bldgs in London, UK.
Retrieved 44,161 bldgs in Amsterdam, NL.
Retrieved 16,672 bldgs in Dublin, IE.
Retrieved 35,431 bldgs in Paris, FR.

In [134]:
df = de.append(gb).append(nl).append(ie).append(fr)

In [135]:
df.reset_index(inplace=True, drop=True)
df.drop('type', axis=1, inplace=True)

df.drop_duplicates('id', inplace=True)
df.columns = ["id", "properties", "geo", "country"]

In [136]:
df.head()

,id,properties,geo,country
0,r7636072,"{'levels': 7, 'type': 'residential'}","{'type': 'Polygon', 'coordinates': [[[13.36705...",de
1,203289096,"{'levels': 7, 'type': 'residential'}","{'type': 'Polygon', 'coordinates': [[[13.36934...",de
2,104395013,"{'levels': 4, 'type': 'commercial'}","{'type': 'Polygon', 'coordinates': [[[13.36748...",de
3,477315347,{},"{'type': 'Polygon', 'coordinates': [[[13.36987...",de
4,441933772,{},"{'type': 'Polygon', 'coordinates': [[[13.36970...",de

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128448 entries, 0 to 133738
Data columns (total 4 columns):
id            128448 non-null object
properties    128448 non-null object
geo           128448 non-null object
country       128448 non-null object
dtypes: object(4)
memory usage: 4.9+ MB

## -------------------------------------------------------------------

## Expanding properties

In [138]:
props = pd.DataFrame(list(df.properties), index=df.id)
props.reset_index(inplace=True)
props.head(3)

,id,levels,type,shape,roofLevels,name,roofShape,building,minLevel,roofDirection,material,height,minHeight,color,roofMaterial,roofHeight,roofColor,roofAngle
0,r7636072,7.0,residential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203289096,7.0,residential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,104395013,4.0,commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
comb = df.merge(props, on='id')
comb.drop('properties', axis=1, inplace=True)
comb.head(3)

,id,geo,country,levels,type,shape,roofLevels,name,roofShape,building,minLevel,roofDirection,material,height,minHeight,color,roofMaterial,roofHeight,roofColor,roofAngle
0,r7636072,"{'type': 'Polygon', 'coordinates': [[[13.36705...",de,7.0,residential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203289096,"{'type': 'Polygon', 'coordinates': [[[13.36934...",de,7.0,residential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,104395013,"{'type': 'Polygon', 'coordinates': [[[13.36748...",de,4.0,commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128448 entries, 0 to 128447
Data columns (total 20 columns):
id               128448 non-null object
geo              128448 non-null object
country          128448 non-null object
levels           37362 non-null float64
type             38769 non-null object
shape            547 non-null object
roofLevels       2094 non-null float64
name             9997 non-null object
roofShape        7105 non-null object
building         7596 non-null object
minLevel         704 non-null float64
roofDirection    1724 non-null float64
material         7455 non-null object
height           6283 non-null float64
minHeight        902 non-null float64
color            6146 non-null object
roofMaterial     3960 non-null object
roofHeight       1211 non-null float64
roofColor        5072 non-null object
roofAngle        1 non-null float64
dtypes: float64(8), object(12)
memory usage: 20.6+ MB

In [141]:
comb.head()

,id,geo,country,levels,type,shape,roofLevels,name,roofShape,building,minLevel,roofDirection,material,height,minHeight,color,roofMaterial,roofHeight,roofColor,roofAngle
0,r7636072,"{'type': 'Polygon', 'coordinates': [[[13.36705...",de,7.0,residential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203289096,"{'type': 'Polygon', 'coordinates': [[[13.36934...",de,7.0,residential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,104395013,"{'type': 'Polygon', 'coordinates': [[[13.36748...",de,4.0,commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,477315347,"{'type': 'Polygon', 'coordinates': [[[13.36987...",de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,441933772,"{'type': 'Polygon', 'coordinates': [[[13.36970...",de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ---------------------------------------------------------------------

In [143]:
comb.to_csv("/Users/aarvelo/Downloads/de_gb_nl_ie_fr_bldgs.csv", index=False)

## ---------------------------------------------------------------------